<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.vmyun.client.dao.GoodsPassageDao" >
    <!-- 这儿定义一个resultMap -->
    <resultMap type="net.vmyun.client.entity.Goods" id="GoodsMap">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
    </resultMap>
    <resultMap type="net.vmyun.client.entity.Goods" id="GoodsList">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findGoodsByid" resultMap="GoodsMap"  parameterType="java.lang.Long">
        SELECT
        g.id,
        g.number,
        g.name
        from
        vm_goods g
        where
        g.del_flag = FALSE
        <if test=" id != null">
        and g.id = #{id}
        </if>
    </select>
    <select id="selectGoodsList" resultMap="GoodsList" >
    SELECT
	vg.id,
    vg.`name`
    FROM
	vm_goods vg
    WHERE
	vg.del_flag = '0'
    </select>

</mapper>